$color-fondo-aside: #cccc;
$color-fondo-n: #ededed;

/*general*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(190, 3, 3);
  color: white;
}

/*Header*/
#seccion {
  width: 976px;
  margin: 0px auto;
  line-height: 60px;
  h1 {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

nav {
  width: 100%;
  background-color: rgb(165, 0, 0);

  ul {
    list-style: none;
    width: 976px;
    padding: 15px;
    margin: 0px auto;
  }
  li {
    display: inline-block;
    margin-right: 25px;
    padding-right: 9px;
    border-right: 1px solid white;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    color: white;
    line-height: 0px;
  }
}
nav ul li:hover {
  transform: scale(1.2, 1.2);
}

/*Contenido*/
#container {
  display: grid;
  grid-template-columns: 70% 30%;

  width: 976px;
  height: 100%;
  margin: 0px auto;
  margin-top: 15px;

  #contenido {
    padding: 10px;

    h1 {
      font-family: sans-serif;
      font-size: 30px;
      border-bottom: 1px solid #cccc;
    }
  }

  aside {
    width: 100%;

    h3 {
      font-family: Arial;
      font-size: 20px;
      columns: #404040;
      text-align: center;
      margin-bottom: 15px;
    }

    #info-reportero {
      margin-bottom: 20px;
      background: #ededed;
      padding-top: 14px;
    }

    #ultimo-momento {
      margin-bottom: 20px;
      background: #ededed;
    }
    #relacionadas{
        background: #ededed;
    }

    .miniatura{
        display: block;
        width: 85%;
        margin-left:20px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
       
        img{
            width: 250px;
        };

        a{
            text-align: justify;
            text-decoration: none;
            color: #222222;
        }

    }
    .miniatura:hover{
       cursor: pointer;
    }
  }
}

#info-reportero p {
  columns: #606060;
  font-size: 15px;
  margin-left: 30px;
}
